@font-face {
    font-family: Acme;
    src: url(fonts/Acme/Acme-Regular.ttf);
  }
  
  body {
    font-family: Acme;
  }

  .spinner{position:absolute;top:48%;left:48%;width:50px;height:40px;text-align:center;font-size:10px;}
  .spinner > div{background:linear-gradient(to bottom, #3fa93d 0%, #fff 100%);height:100%;width:6px;border-radius:20px;display:inline-block;-webkit-animation:sk-stretchdelay 1.2s infinite ease-in-out;animation:sk-stretchdelay 1.2s infinite ease-in-out;}
  .spinner .rect2{-webkit-animation-delay:-1.1s;animation-delay:-1.1s;}
  .spinner .rect3{-webkit-animation-delay:-1.0s;animation-delay:-1.0s;}
  .spinner .rect4{-webkit-animation-delay:-0.9s;animation-delay:-0.9s;}
  .spinner .rect5{-webkit-animation-delay:-0.8s;animation-delay:-0.8s;}
  @-webkit-keyframes sk-stretchdelay{0%, 40%, 100%{-webkit-transform:scaleY(0.4)}
  20%{-webkit-transform:scaleY(1.0)}
  }
  @keyframes sk-stretchdelay{0%, 40%, 100%{transform:scaleY(0.4);-webkit-transform:scaleY(0.4);}
  20%{transform:scaleY(1.0);-webkit-transform:scaleY(1.0);}
  }
  .spinner-wrapper{position:fixed;top:0;left:0;right:0;bottom:0;background-color:#fff;z-index:999999;}
  body{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-o-user-select:none;}
  #sectiontohide{display:none;}
  .hide{display:none;}
  body::-webkit-scrollbar{display:none;}
  ::-moz-selection{color:white;background:#00e25b;}
  ::selection{color:white;background:#00e25b;}
  [type=checkbox]:checked+label:before{top:-4px;left:-3px;width:12px;height:22px;border-style:solid;border-width:2px;border-color:transparent #28a745 #28a745 transparent;-webkit-transform:rotate(40deg);-ms-transform:rotate(40deg);transform:rotate(40deg);-webkit-transform-origin:100% 100%;-ms-transform-origin:100% 100%;transform-origin:100% 100%;}
  .md-form input[type=date]:focus:not([readonly]), .md-form input[type=datetime-local]:focus:not([readonly]), .md-form input[type=email]:focus:not([readonly]), .md-form input[type=number]:focus:not([readonly]), .md-form input[type=password]:focus:not([readonly]), .md-form input[type=search-md]:focus:not([readonly]), .md-form input[type=search]:focus:not([readonly]), .md-form input[type=tel]:focus:not([readonly]), .md-form input[type=text]:focus:not([readonly]), .md-form input[type=time]:focus:not([readonly]), .md-form input[type=url]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]){-webkit-box-shadow:0 1px 0 0 #28a745;box-shadow:0 1px 0 0 #28a745;border-bottom:1px solid #28a745;}
  html,
  body,
  header,
  .view{height:100%;}
  @media (max-width:740px){html,
  body,
  header,
  .view{height:100vh;}
  .lasticon{display:none;}
  }
  @media (max-width:1068px){#hide{display:none;}
  }
  .navbar:not(.top-nav-collapse){background:transparent !important;}
  @media (min-width:800px) and (max-width:850px){}
  h1{letter-spacing:8px;}
  h5{letter-spacing:3px;}
  .hr-light{border-top:3px solid grey;width:180px;}
  .rounded-circle{width:100px;height:100px;}
  .dusty-grass-gradient{background-image:linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);}
  .young-passion-gradient{background-image:linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);}
  .sunny-morning-gradient{background-image:linear-gradient(120deg, #f6d365 0%, #fda085 100%);}
  .morpheus-den-gradient{background-image:linear-gradient(to top, #30cfd0 0%, #330867 100%);}
  .gallery{-webkit-column-count:3;-moz-column-count:3;column-count:3;-webkit-column-width:33%;-moz-column-width:33%;column-width:33%;}
  .gallery .pics{-webkit-transition:all 350ms ease;transition:all 350ms ease;}
  .gallery .animation{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}
  @media (max-width:756px){#map-section{display:none;}
  .tooltip{display:none;}
  .hidea{display:none;}
  }
  @media (max-width:450px){.gallery{-webkit-column-count:1;-moz-column-count:1;column-count:1;-webkit-column-width:100%;-moz-column-width:100%;column-width:100%;}
  #gallery{display:none;}
  }
  @media (max-width:400px){.btn.filter{padding-left:1.1rem;padding-right:1.1rem;}
  }
  .toast-container{width:280px;z-index:9999;}
  * html .toast-container{position:absolute;}
  .toast-item{height:auto;background:transparent;box-shadow:1px 1px 50px 1px black;opacity:1;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;color:#000;padding-top:30px;padding-bottom:20px;padding-left:6px;padding-right:6px;font-family:inherit;font-size:12px;
    /*border:2px solid #999;display:block;position:relative;margin:0 0 12px 0;*/
}
  .toast-item p{text-align:left;margin-left:50px;color:black;}
  .toast-item-image{width:32px;height:32px;position:absolute;top:50%;margin-top:-16px;left:10px;}
  .toast-item-image-notice{background:url(images/notice.png);background-repeat:no-repeat;}
  .toast-item-image-success{background:url(images/success.png);}
  .toast-item-image-warning{background:url(images/warning.png);}
  .toast-item-image-error{background:url(images/error.png);}
  .toast-type-notice{color:white;}
  .toast-type-success{color:white;}
  .toast-type-warning{color:white;border-color:#FCBD57;}
  .toast-type-error{color:white;border-color:#B32B2B;}
  .toast-position-top-left{position:fixed;left:20px;top:20px;}
  .toast-position-top-center{position:fixed;top:20px;left:50%;margin-left:-140px;}
  .toast-position-top-right{position:fixed;top:20px;right:20px;}
  .toast-position-middle-left{position:fixed;left:20px;top:50%;margin-top:-40px;}
  .toast-position-middle-center{position:fixed;left:50%;margin-left:-140px;margin-top:-40px;top:50%;}
  .toast-position-middle-right{position:fixed;right:20px;margin-left:-140px;margin-top:-40px;top:50%;}
  .toast-position-bottom-right{position:fixed;right:20px;top:83%;}
  @media only screen and (max-width:768px){.toast-item-wrapper{display:none;}
  }

/* 2 start*/
@keyframes ripple {
  from {
    width: 0.1%;
    height: 0.1%;
    opacity: 1;
  }
  to {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

/* .circle {
  width: 5rem;
  height: 5rem;
  display: block;
  border-radius: 50%;
  border: 2px solid #ccc;
  background: rgba(100, 100, 100, 0.1);
} */

.con {
  width: 105px;
  height: 105px;
  margin: 0 auto;
  display: block;
  position: relative;
  /* cosmetics */
  border: 1px solid #fff;
  border-radius: 50%;
  /* box-shadow: 0 0 7px 0px #53e300; */
  box-shadow: 0px 0px 100px 11px #53e300;
  display: flex; align-items: center; justify-content: center;
}

.circle {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  display: block;
  border-radius: 50%;
  position: absolute;
  border: 2px solid #ffffff54;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.3);
  animation: ripple 3s ease infinite;
}
/* 2 end*/